.bash_history
.bash_*
.cache/
.config/
.copilot/
.dotnet/
.gz/
.local/
.npm/
.ros/
.sdformat/
.venv/
.vscode/
.vscode-server/
turtlebot4_ws/build/
turtlebot4_ws/install/
turtlebot4_ws/log/
turtlebot4_ws/src/rf2o_laser_odometry/
turtlebot4_ws/src/**/__pycache__/
turtlebot4_ws/src/**/*.pyc
.vscode-remote-containers/
